ul {
    display:flex;
    margin:0;
    padding:0;
  }
  
  ul li {
    list-style:none;
    margin:0 5px;
  }
  
  ul li a .fa, ul li a .fab, ul li a .fas{
    font-size: 30px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  ul li:hover:nth-child(2) a{
    background: #7235AB;
  }
  ul li:hover:nth-child(2) a:before{
    background: #41007F;
  }
  ul li:hover:nth-child(2) a:after{
    background: #8E58C1;
  }
  
  ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
  ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
  ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }
  
  ul li:hover:nth-child(4) a{
    background: #5460E6;
  }
  ul li:hover:nth-child(4) a:before{
    background: #2433D6;
  }
  ul li:hover:nth-child(4) a:after{
    background: #656FE3;
  }

  span{
    font-size: 17px;
  }

  .footer-clean {
    width: 108.6%;
    padding:50px 0;
    background-color: #11202c;
    color: white;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:center;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }