#link-example:link{
    color: #0094aa;
    font-size: 30px;
}

#link-example:visited{
    color: green;
}

#link-example:hover{
    color: cyan;
}

#link-example:active{
    color: yellow;
}

#button-link:link, #button-link:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #button-link:hover, #button-link:active {
    background-color: green;
    color: white;
  }