#link-example:link{
    color: #0094aa;
    font-size: 30px;
}

#link-example:visited{
    color: green;
}

#link-example:hover{
    color: cyan;
}

#link-example:active{
    color: yellow;
}

#button-link:link, #button-link:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #button-link:hover, #button-link:active {
    background-color: green;
    color: white;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
  color: #0074D9;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.object{
  cursor: pointer;
  border: none;
  background-color: white;
	width: 200px;
	height: 100px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.centered{
  text-decoration: underline;
  color: #0094aa;
}