.overflow-visible{
    background-color: #0094aa;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    overflow: visible;
  }

  .overflow-hidden{
    background-color: #0094aa;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    overflow: hidden;
  }

.overflow-scroll{
    background-color: #0094aa;
    width: 200px;
    height: 70px;
    border: 1px solid black;
    overflow: scroll;
  }
