*{
    margin: 0;
    font-family: sans-serif;
}

.layout{
    display: flex;
}

body{
    background-color: #d6d6d6;
}

.sidebar{
    overflow: auto;
    padding: 0px;
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    background-color: #c2c2c2;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 46px;
}

.content{
    margin-left: 20%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
    margin-top: 46px;
}

.navbar {
    z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  background-color: #11202c;
  overflow: auto;
}

.sidebar-link{
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sidebar-link:hover{
    background-color: #0094aa;
}

.content h1{
    font-size: 45px;
}
.content h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content p{
    font-size: 20px;
}
.content a{
    color: #0094aa;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 10px;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 100%;
}

.example{
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
}

.code-show{
  position: relative;

    border: 5px dashed gray;
    height: 200px;
    margin-left: 50px;
    overflow:auto;
    white-space: nowrap;
}

.content code{
    font-size: 20px;
}

.content small{
    font-size: 20px;
}

.prop{
    color: #FC440F;
}

.out{
    color: #FC440F;
}

.class{
    color: #0094aa;
}

.info{
    margin-left: 50px;
    margin-top: 50px;
}

.inline{
    display: inline;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.none{
    display: none;
}

  table{
    border: black solid 3px;
  }

  #table-fonts {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

label{
    font-size: 20px;
}

h3{
    font-size: 20px;
}
  
img {
    opacity: 0.7;
  }
  .advanced-table, .advanced-table th{
    border: 7px solid rgb(0, 0, 0);
  }
  .advanced-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .advanced-table th, .advanced-table td {
    border: 3px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  .advanced-table tr:nth-child(even){background-color: #0000003d;}
  
  .advanced-table tr:hover {background-color: #0094aa;}
  
  .advanced-table td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00aac4;
    color: white;
  }

span{
    font-size: 20px;
}

  .hover-table tr:hover{
    background-color: #0094aa;
  }

  .hover-table{
      border-collapse: collapse;
  }

  
  .navbar a {
    display: flex;
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #0094aa;
  }

.sidebar::-webkit-scrollbar, .code-show::-webkit-scrollbar{
  width: 10px;
}

.code-show::-webkit-scrollbar-track {
  background: #d6d6d6; 
}
 
.sidebar::-webkit-scrollbar-track {
  background: #c2c2c2; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.tag{
  color: #00505c;
}

.image-box{
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: white;
  border: black 3px solid;
  margin-left: 200px;
}

.custom-select{
  background-color: #d6d6d6;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border: solid black 1px;
  border-radius: 5px;
  text-align: center;
  color: #FC440F;
  margin-right: 10px;
  margin-left: 10px;
}

option{
  background-color: #d6d6d6;
  border: none;
}

input[type=text], input[type=number]{
  background-color: #d6d6d6;
  padding: 4px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.object{
  cursor: pointer;
  border: solid #0094aa;
	width: 200px;
	height: 100px;
	background-color: #0094aa;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #c2c2c2;
  cursor: pointer;
  padding: 10px;
  width: 310px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #d6d6d6;
  overflow: hidden;
}

.copy-btn{
  font-size: 20px;
  color: #0094aa;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0px;
}

.push{
  position: sticky;
  top: 0;
  right: 0;}