*{
    margin: 0;
    font-family: sans-serif;
}

.layout{
    display: flex;
}

.sidebar{
    overflow: scroll;
    padding: 0px;
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    background-color: #fbf5f3;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.sidebar-link{
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sidebar-link:hover{
    background-color: #0094aa;
}

.content{
    margin-left: 20%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.content h1{
    font-size: 50px;
}
.content h2{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content p{
    font-size: 25px;
}
.content a{
    color: #0094aa;
}
.content hr{
    margin-top: 10px;
    margin-bottom: 10px;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 100%;
}

.example{
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
}

.code-show{
    padding-right: 50px;
    border: 5px dashed gray;
    height: 200px;
    margin-left: 50px;
    overflow:auto;
    white-space: nowrap;
}

.content code{
    font-size: 20px;
}

.content small{
    font-size: 20px;
}

.prop{
    color: #FC440F;
}

.out{
    background-color: rgb(230, 230, 230); 
    color: #FC440F;
}

.class{
    color: #0094aa;
}

.info{
    margin-left: 50px;
    margin-top: 50px;
}

.inline{
    display: inline;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.none{
    display: none;
}

  /* #table-fonts {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } */

label{
    font-size: 30px;
}

h3{
    font-size: 40px;
}
  
img {
    opacity: 0.7;
  }
  .advanced-table, .advanced-table th{
    border: 7px solid rgb(0, 0, 0);
  }
  .advanced-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .advanced-table th, .advanced-table td {
    border: 3px solid rgb(0, 0, 0);
    padding: 8px;
  }
  
  .advanced-table tr:nth-child(even){background-color: #0000003d;}
  
  .advanced-table tr:hover {background-color: #0094aa;}
  
  .advanced-table td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00aac4;
    color: white;
  }

span{
    font-size: 20px;
}

  .hover-table tr:hover{
    background-color: #0094aa;
  }

  .hover-table{
      border-collapse: collapse;
  }