.advanced-selection{
  display: flex;
  align-items: flex-start;
}

#transform-example{
  margin-top: 100px;
  transition: all;
  transition-duration: 0.5s;
}

.input-example{
  display: flex;
  flex-flow: column nowrap;
}

.transform-example{
  text-align: center;
  color: rgb(95, 95, 95);
  margin-top: 5px;
}